{% extends 'base.html.twig' %}

{% block title %}Clothe
{% endblock %}


{% block body %}

	<style>
		.showStatus {
			background-color: red;
		}
	</style>
    
	<h1>{{ clothe.title }}</h1>

	<div style="display: flex; flex-direction: row;">
		{% if clothe.img %}
			<img style="border: 1px solid red" class="showImg" src="{{ asset('images/' ~ clothe.img) }}" alt="{{ clothe.title }}">
		{% else %}
			<p>Aucune image</p>
		{% endif %}

		<section style="border: 1px solid red">
			<p>État:
				<strong>{{ clothe.state.name ?? 'Non défini' }}</strong>
			</p>
			<p>Catégorie:
				<strong>{{ clothe.category.name ?? 'Non définie' }}</strong>
			</p>
			<p>Propriétaire:
				<strong>{{ clothe.user ? clothe.user.email : 'Inconnu' }}</strong>
			</p>
			<center>
				{% if clothe.currentBorrower %}
					<span class="showStatus">Déjà emprunté</span>
				{% else %}
					<form action="{{ path('app_clothe_rent', {'id': clothe.id}) }}" method="post">
						<input type="hidden" name="_token" value="{{ csrf_token('rent' ~ clothe.id) }}">
						<button class="showStatus type=" submit">Emprunter</button>
					</form>
				{% endif %}
			</center>
		</section>

	</div>

	<div>
		<p>
			<a href="{{ path('app_clothe_index') }}">Retour au catalogue</a>
			<a href="{{ path('app_clothe_edit', {'id': clothe.id}) }}">Modifier</a>
		</p>
	</div>

	{{ include('clothe/_delete_form.html.twig') }}
{% endblock %}
